<div id="<%= dom_id customer %>">
  <p>
    <strong>Email address:</strong>
    <%= customer.email_address %>
  </p>

  <p>
    <strong>Has purchased:</strong>
    <%= customer.has_purchased %>
  </p>

  <p>
    <strong>Has email consent:</strong>
    <%= customer.has_email_consent %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

</div>
